<a href="https://colab.research.google.com/github/LuisaPolicarpo/Project5/blob/main/Time_series_s_e_g.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install googletrans==4.0.0-rc1

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: googletrans==4.0.0-rc1 in /usr/local/lib/python3.8/dist-packages (4.0.0rc1)
Requirement already satisfied: httpx==0.13.3 in /usr/local/lib/python3.8/dist-packages (from googletrans==4.0.0-rc1) (0.13.3)
Requirement already satisfied: certifi in /usr/local/lib/python3.8/dist-packages (from httpx==0.13.3->googletrans==4.0.0-rc1) (2022.12.7)
Requirement already satisfied: rfc3986<2,>=1.3 in /usr/local/lib/python3.8/dist-packages (from httpx==0.13.3->googletrans==4.0.0-rc1) (1.5.0)
Requirement already satisfied: chardet==3.* in /usr/local/lib/python3.8/dist-packages (from httpx==0.13.3->googletrans==4.0.0-rc1) (3.0.4)
Requirement already satisfied: hstspreload in /usr/local/lib/python3.8/dist-packages (from httpx==0.13.3->googletrans==4.0.0-rc1) (2023.1.1)
Requirement already satisfied: sniffio in /usr/local/lib/python3.8/dist-packages (from httpx==0.13.3->googletrans==4.0.0-rc1) (1.3.0)
Requirement already satisfied: httpcore==0.9.* in /usr/local/lib/python3.8/dist-packages (from httpx==0.13.3->googletrans==4.0.0-rc1) (0.9.1)
Requirement already satisfied: idna==2.* in /usr/local/lib/python3.8/dist-packages (from httpx==0.13.3->googletrans==4.0.0-rc1) (2.10)
Requirement already satisfied: h11<0.10,>=0.8 in /usr/local/lib/python3.8/dist-packages (from httpcore==0.9.*->httpx==0.13.3->googletrans==4.0.0-rc1) (0.9.0)
Requirement already satisfied: h2==3.* in /usr/local/lib/python3.8/dist-packages (from httpcore==0.9.*->httpx==0.13.3->googletrans==4.0.0-rc1) (3.2.0)
Requirement already satisfied: hyperframe<6,>=5.2.0 in /usr/local/lib/python3.8/dist-packages (from h2==3.*->httpcore==0.9.*->httpx==0.13.3->googletrans==4.0.0-rc1) (5.2.0)
Requirement already satisfied: hpack<4,>=3.0 in /usr/local/lib/python3.8/dist-packages (from h2==3.*->httpcore==0.9.*->httpx==0.13.3->googletrans==4.0.0-rc1) (3.0.0)

In [1]:


df_earnings_final = pd.read_csv("/content/earnings (3).csv")
import googletrans

from googletrans import Translator
translator = Translator()
month = 'Maio'

print(translator.translate(month,src='pt', dest='en').text)

df_earnings_final_months = df_earnings_final['Date'].str.split('de', expand=True)
df_earnings_final_months.rename(columns = ({0: "month", 1: "year"}),inplace=True)
df_earnings_final_months['month'] = df_earnings_final_months['month'].apply(lambda month: translator.translate(month,src='pt', dest='en').text)

FileNotFoundError: ignored

In [10]:
import pandas as pd

In [ ]:
df_earnings_final

,Unnamed: 0,Type,Date,Value
0,0,Hotelaria,Dezembro de 2021,132228
1,1,Hotelaria,Novembro de 2021,185160
2,2,Hotelaria,Outubro de 2021,295076
3,3,Hotelaria,Setembro de 2021,309314
4,4,Hotelaria,Agosto de 2021,444303
...,...,...,...,...
175,175,Turismo no espaço rural e de habitação,Maio de 2017,7713
176,176,Turismo no espaço rural e de habitação,Abril de 2017,7305
177,177,Turismo no espaço rural e de habitação,Março de 2017,3765
178,178,Turismo no espaço rural e de habitação,Fevereiro de 2017,2981
179,179,Turismo no espaço rural e de habitação,Janeiro de 2017,2533

In [ ]:
df_earnings_final_data = df_earnings_final.drop(columns=['Unnamed: 0'])

In [ ]:
df_earnings_final_data

                                       Type               Date   Value
0                                 Hotelaria   Dezembro de 2021  132228
1                                 Hotelaria   Novembro de 2021  185160
2                                 Hotelaria    Outubro de 2021  295076
3                                 Hotelaria   Setembro de 2021  309314
4                                 Hotelaria     Agosto de 2021  444303
..                                      ...                ...     ...
175  Turismo no espaço rural e de habitação       Maio de 2017    7713
176  Turismo no espaço rural e de habitação      Abril de 2017    7305
177  Turismo no espaço rural e de habitação      Março de 2017    3765
178  Turismo no espaço rural e de habitação  Fevereiro de 2017    2981
179  Turismo no espaço rural e de habitação    Janeiro de 2017    2533

[180 rows x 3 columns]

In [ ]:
df_earnings_final_data

                                       Type               Date   Value
0                                 Hotelaria   Dezembro de 2021  132228
1                                 Hotelaria   Novembro de 2021  185160
2                                 Hotelaria    Outubro de 2021  295076
3                                 Hotelaria   Setembro de 2021  309314
4                                 Hotelaria     Agosto de 2021  444303
..                                      ...                ...     ...
175  Turismo no espaço rural e de habitação       Maio de 2017    7713
176  Turismo no espaço rural e de habitação      Abril de 2017    7305
177  Turismo no espaço rural e de habitação      Março de 2017    3765
178  Turismo no espaço rural e de habitação  Fevereiro de 2017    2981
179  Turismo no espaço rural e de habitação    Janeiro de 2017    2533

[180 rows x 3 columns]

In [ ]:
df_earnings_final_months

         month   year
0     December   2021
1     November   2021
2      October   2021
3    September   2021
4       August   2021
..         ...    ...
175        May   2017
176      April   2017
177      March   2017
178   February   2017
179    January   2017

[180 rows x 2 columns]

In [ ]:
df_earnings_v1= pd.concat([df_earnings_final_months,df_earnings_final_data], axis=1, join="outer")

In [ ]:
df_earnings = df_earnings_v1.drop(columns=['Date'])

In [ ]:
df_earnings

         month   year                                    Type   Value
0     December   2021                               Hotelaria  132228
1     November   2021                               Hotelaria  185160
2      October   2021                               Hotelaria  295076
3    September   2021                               Hotelaria  309314
4       August   2021                               Hotelaria  444303
..         ...    ...                                     ...     ...
175        May   2017  Turismo no espaço rural e de habitação    7713
176      April   2017  Turismo no espaço rural e de habitação    7305
177      March   2017  Turismo no espaço rural e de habitação    3765
178   February   2017  Turismo no espaço rural e de habitação    2981
179    January   2017  Turismo no espaço rural e de habitação    2533

[180 rows x 4 columns]

In [ ]:
df_earnings.rename(columns = {'Value': 'Earnings'}, inplace = True)

In [ ]:
df_earnings

                                       Type  Earnings      month   year
0                                 Hotelaria    132228   December   2021
1                                 Hotelaria    185160   November   2021
2                                 Hotelaria    295076    October   2021
3                                 Hotelaria    309314  September   2021
4                                 Hotelaria    444303     August   2021
..                                      ...       ...        ...    ...
175  Turismo no espaço rural e de habitação      7713        May   2017
176  Turismo no espaço rural e de habitação      7305      April   2017
177  Turismo no espaço rural e de habitação      3765      March   2017
178  Turismo no espaço rural e de habitação      2981   February   2017
179  Turismo no espaço rural e de habitação      2533    January   2017

[180 rows x 4 columns]

In [ ]:
from google.colab import files
df_earnings.to_csv('earnings_lv.csv') 
files.download('earnings_lv.csv')

In [ ]:
df_guest_1 = pd.read_csv("/content/guests (4).csv")

In [ ]:
df_guest_1

,Unnamed: 0,Type,Date,Value
0,0,Hotelaria,Dezembro de 2021,897016
1,1,Hotelaria,Novembro de 2021,1179545
2,2,Hotelaria,Outubro de 2021,1728722
3,3,Hotelaria,Setembro de 2021,1626039
4,4,Hotelaria,Agosto de 2021,1957735
...,...,...,...,...
175,175,Turismo no espaço rural e de habitação,Maio de 2017,68093
176,176,Turismo no espaço rural e de habitação,Abril de 2017,75208
177,177,Turismo no espaço rural e de habitação,Março de 2017,37245
178,178,Turismo no espaço rural e de habitação,Fevereiro de 2017,32497
179,179,Turismo no espaço rural e de habitação,Janeiro de 2017,24434

In [ ]:
df_guest_final_months = df_guest_1['Date'].str.split('de', expand=True)

In [ ]:
df_guest_final_months

              0      1
0     Dezembro    2021
1     Novembro    2021
2      Outubro    2021
3     Setembro    2021
4       Agosto    2021
..          ...    ...
175       Maio    2017
176      Abril    2017
177      Março    2017
178  Fevereiro    2017
179    Janeiro    2017

[180 rows x 2 columns]

In [ ]:
df_guest_final_months .rename(columns = ({0: "month", 1: "year"}),inplace=True)

In [ ]:

df_guest_final_months['month'] = df_guest_final_months['month'].apply(lambda month: translator.translate(month,src='pt', dest='en').text)

AttributeError: ignored

In [ ]:
df_guest_final_months

         month   year
0     December   2021
1     November   2021
2      October   2021
3    September   2021
4       August   2021
..         ...    ...
175        May   2017
176      April   2017
177      March   2017
178   February   2017
179    January   2017

[180 rows x 2 columns]

In [ ]:
df_guests_v1= pd.concat([df_guest_1,df_guest_final_months], axis=1, join="outer")

In [ ]:
df_guests_v1

,Unnamed: 0,Type,Date,Value,month,year
0,0,Hotelaria,Dezembro de 2021,897016,December,2021
1,1,Hotelaria,Novembro de 2021,1179545,November,2021
2,2,Hotelaria,Outubro de 2021,1728722,October,2021
3,3,Hotelaria,Setembro de 2021,1626039,September,2021
4,4,Hotelaria,Agosto de 2021,1957735,August,2021
...,...,...,...,...,...,...
175,175,Turismo no espaço rural e de habitação,Maio de 2017,68093,May,2017
176,176,Turismo no espaço rural e de habitação,Abril de 2017,75208,April,2017
177,177,Turismo no espaço rural e de habitação,Março de 2017,37245,March,2017
178,178,Turismo no espaço rural e de habitação,Fevereiro de 2017,32497,February,2017
179,179,Turismo no espaço rural e de habitação,Janeiro de 2017,24434,January,2017

In [ ]:
df_guests = df_guests_v1.drop(columns=['Unnamed: 0','Date'])

In [ ]:
df_guests.rename(columns = {'Value':'Guests'}, inplace=True)

In [ ]:
df_guests

                                       Type   Guests      month   year
0                                 Hotelaria   897016   December   2021
1                                 Hotelaria  1179545   November   2021
2                                 Hotelaria  1728722    October   2021
3                                 Hotelaria  1626039  September   2021
4                                 Hotelaria  1957735     August   2021
..                                      ...      ...        ...    ...
175  Turismo no espaço rural e de habitação    68093        May   2017
176  Turismo no espaço rural e de habitação    75208      April   2017
177  Turismo no espaço rural e de habitação    37245      March   2017
178  Turismo no espaço rural e de habitação    32497   February   2017
179  Turismo no espaço rural e de habitação    24434    January   2017

[180 rows x 4 columns]

In [ ]:
from google.colab import files
df_guests.to_csv('guests_lv.csv') 
files.download('guests_lv.csv')

In [ ]:
df_sleeps_1 = pd.read_csv("/content/sleeps (4).csv")

In [ ]:
df_sleeps_1

,Unnamed: 0,Type,Date,Value
0,0,Hotelaria,Dezembro de 2021,2067266
1,1,Hotelaria,Novembro de 2021,2936910
2,2,Hotelaria,Outubro de 2021,4568205
3,3,Hotelaria,Setembro de 2021,4592006
4,4,Hotelaria,Agosto de 2021,6077677
...,...,...,...,...
175,175,Turismo no espaço rural e de habitação,Maio de 2017,133812
176,176,Turismo no espaço rural e de habitação,Abril de 2017,148148
177,177,Turismo no espaço rural e de habitação,Março de 2017,68090
178,178,Turismo no espaço rural e de habitação,Fevereiro de 2017,58722
179,179,Turismo no espaço rural e de habitação,Janeiro de 2017,42290

In [ ]:
df_sleeps_final_months = df_sleeps_1['Date'].str.split('de', expand=True)

In [ ]:
df_sleeps_final_months.rename(columns = ({0: "month", 1: "year"}),inplace=True)

In [ ]:
df_sleeps_final_months

          month   year
0     Dezembro    2021
1     Novembro    2021
2      Outubro    2021
3     Setembro    2021
4       Agosto    2021
..          ...    ...
175       Maio    2017
176      Abril    2017
177      Março    2017
178  Fevereiro    2017
179    Janeiro    2017

[180 rows x 2 columns]

In [ ]:
df_sleeps_final_months['month'] = df_sleeps_final_months['month'].apply(lambda month: translator.translate(month,src='pt', dest='en').text)

AttributeError: ignored

In [ ]:
df_sleeps_v1= pd.concat([df_sleeps_1,df_sleeps_final_months], axis=1, join="outer")

In [ ]:
df_sleeps = df_sleeps_v1.drop(columns=['Date','Unnamed: 0'])

In [ ]:
df_sleeps.rename(columns = {'Value': 'sleeps'}, inplace = True)

In [ ]:
df_sleeps = pd.read_csv("/content/sleeps_lv (1).csv")

In [ ]:
df_sleeps

,Unnamed: 0,Type,sleeps,month,year
0,0,Hotelaria,2067266,December,2021
1,1,Hotelaria,2936910,November,2021
2,2,Hotelaria,4568205,October,2021
3,3,Hotelaria,4592006,September,2021
4,4,Hotelaria,6077677,August,2021
...,...,...,...,...,...
175,175,Turismo no espaço rural e de habitação,133812,May,2017
176,176,Turismo no espaço rural e de habitação,148148,April,2017
177,177,Turismo no espaço rural e de habitação,68090,March,2017
178,178,Turismo no espaço rural e de habitação,58722,February,2017
179,179,Turismo no espaço rural e de habitação,42290,January,2017

In [ ]:
df_sleeps_2 = df_sleeps.drop(columns=['Unnamed: 0','month','year','Type'])

In [ ]:
df_sleeps_2

      sleeps
0    2067266
1    2936910
2    4568205
3    4592006
4    6077677
..       ...
175   133812
176   148148
177    68090
178    58722
179    42290

[180 rows x 1 columns]

In [ ]:
df_final_v1= pd.concat([df_earnings,df_sleeps_2], axis=1, join="outer")

In [ ]:
df_final_v1

,month,year,Type,Earnings,sleeps
0,December,2021,Hotelaria,132228,2067266
1,November,2021,Hotelaria,185160,2936910
2,October,2021,Hotelaria,295076,4568205
3,September,2021,Hotelaria,309314,4592006
4,August,2021,Hotelaria,444303,6077677
...,...,...,...,...,...
175,May,2017,Turismo no espaço rural e de habitação,7713,133812
176,April,2017,Turismo no espaço rural e de habitação,7305,148148
177,March,2017,Turismo no espaço rural e de habitação,3765,68090
178,February,2017,Turismo no espaço rural e de habitação,2981,58722
179,January,2017,Turismo no espaço rural e de habitação,2533,42290

In [ ]:
df_guests

                                       Type   Guests      month   year
0                                 Hotelaria   897016   December   2021
1                                 Hotelaria  1179545   November   2021
2                                 Hotelaria  1728722    October   2021
3                                 Hotelaria  1626039  September   2021
4                                 Hotelaria  1957735     August   2021
..                                      ...      ...        ...    ...
175  Turismo no espaço rural e de habitação    68093        May   2017
176  Turismo no espaço rural e de habitação    75208      April   2017
177  Turismo no espaço rural e de habitação    37245      March   2017
178  Turismo no espaço rural e de habitação    32497   February   2017
179  Turismo no espaço rural e de habitação    24434    January   2017

[180 rows x 4 columns]

In [ ]:
df_guests_2 = df_guests.drop(columns=['month','year','Type'])

In [ ]:
df_guests_2

      Guests
0     897016
1    1179545
2    1728722
3    1626039
4    1957735
..       ...
175    68093
176    75208
177    37245
178    32497
179    24434

[180 rows x 1 columns]

In [ ]:
df_final_v2= pd.concat([df_final_v1,df_guests_2 ], axis=1, join="outer")

In [ ]:
df_final_v2

,month,year,Type,Earnings,sleeps,Guests
0,December,2021,Hotelaria,132228,2067266,897016
1,November,2021,Hotelaria,185160,2936910,1179545
2,October,2021,Hotelaria,295076,4568205,1728722
3,September,2021,Hotelaria,309314,4592006,1626039
4,August,2021,Hotelaria,444303,6077677,1957735
...,...,...,...,...,...,...
175,May,2017,Turismo no espaço rural e de habitação,7713,133812,68093
176,April,2017,Turismo no espaço rural e de habitação,7305,148148,75208
177,March,2017,Turismo no espaço rural e de habitação,3765,68090,37245
178,February,2017,Turismo no espaço rural e de habitação,2981,58722,32497
179,January,2017,Turismo no espaço rural e de habitação,2533,42290,24434

In [57]:
import pandas as pd

In [ ]:
from google.colab import files
df_final_v2.to_csv('final.csv') 
files.download('final.csv')

In [58]:
df_final_v2 = pd.read_csv('/content/final (2).csv')

In [59]:
df_final_v2

,Unnamed: 0,month,year,Type,Earnings,sleeps,Guests
0,0,December,2021,Hotelaria,132228,2067266,897016
1,1,November,2021,Hotelaria,185160,2936910,1179545
2,2,October,2021,Hotelaria,295076,4568205,1728722
3,3,September,2021,Hotelaria,309314,4592006,1626039
4,4,August,2021,Hotelaria,444303,6077677,1957735
...,...,...,...,...,...,...,...
175,175,May,2017,Turismo no espaço rural e de habitação,7713,133812,68093
176,176,April,2017,Turismo no espaço rural e de habitação,7305,148148,75208
177,177,March,2017,Turismo no espaço rural e de habitação,3765,68090,37245
178,178,February,2017,Turismo no espaço rural e de habitação,2981,58722,32497
179,179,January,2017,Turismo no espaço rural e de habitação,2533,42290,24434

In [60]:
months = {'January':'01', 'February':'02', 'March':'03', 'April':'04', 'May':'05', 'June':'06', 'July':'07', 'August':'08', 'September':'09', 'October':10, 'November':11, 'December':12}
df_final_v2_1=df_final_v2.replace({"month": months})
df_final_v2_1['year'] = df_final_v2_1['year'].astype(str)
df_final_v2_1['month'] = df_final_v2_1['month'].astype(str)
df_final_v2_1['Date'] = df_final_v2_1['month'] + df_final_v2_1['year']
df_final = df_final_v2_1[['Date', 'Type','Earnings','sleeps','Guests']]
df_final['Date'] = pd.to_datetime(df_final['Date'], format='%m%Y')
df_final.set_index('Date')

<ipython-input-60-2f27f67fa69d>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final['Date'] = pd.to_datetime(df_final['Date'], format='%m%Y')

                                              Type  Earnings   sleeps   Guests
Date
2021-12-01                               Hotelaria    132228  2067266   897016
2021-11-01                               Hotelaria    185160  2936910  1179545
2021-10-01                               Hotelaria    295076  4568205  1728722
2021-09-01                               Hotelaria    309314  4592006  1626039
2021-08-01                               Hotelaria    444303  6077677  1957735
...                                            ...       ...      ...      ...
2017-05-01  Turismo no espaço rural e de habitação      7713   133812    68093
2017-04-01  Turismo no espaço rural e de habitação      7305   148148    75208
2017-03-01  Turismo no espaço rural e de habitação      3765    68090    37245
2017-02-01  Turismo no espaço rural e de habitação      2981    58722    32497
2017-01-01  Turismo no espaço rural e de habitação      2533    42290    24434

[180 rows x 4 columns]

In [61]:
df_final_v2.corr()

            Unnamed: 0      year  Earnings    sleeps    Guests
Unnamed: 0    1.000000 -0.326604 -0.606088 -0.629643 -0.661020
year         -0.326604  1.000000 -0.155618 -0.190464 -0.190115
Earnings     -0.606088 -0.155618  1.000000  0.993929  0.981996
sleeps       -0.629643 -0.190464  0.993929  1.000000  0.994028
Guests       -0.661020 -0.190115  0.981996  0.994028  1.000000

In [62]:
passengers_landed_PT = pd.read_csv('https://raw.githubusercontent.com/LuisaPolicarpo/Project5/main/Dataset/passengers_landed_PT.csv')

In [63]:
passengers_landed_PT

          Date  Nb_passengers
0   2022-09-01        2916061
1   2022-08-01        3082908
2   2022-07-01        3232882
3   2022-06-01        2878124
4   2022-05-01        2700017
..         ...            ...
64  2017-05-01        2427139
65  2017-04-01        2319712
66  2017-03-01        1794413
67  2017-02-01        1473431
68  2017-01-01        1396458

[69 rows x 2 columns]

In [64]:
df_final

,Date,Type,Earnings,sleeps,Guests
0,2021-12-01,Hotelaria,132228,2067266,897016
1,2021-11-01,Hotelaria,185160,2936910,1179545
2,2021-10-01,Hotelaria,295076,4568205,1728722
3,2021-09-01,Hotelaria,309314,4592006,1626039
4,2021-08-01,Hotelaria,444303,6077677,1957735
...,...,...,...,...,...
175,2017-05-01,Turismo no espaço rural e de habitação,7713,133812,68093
176,2017-04-01,Turismo no espaço rural e de habitação,7305,148148,75208
177,2017-03-01,Turismo no espaço rural e de habitação,3765,68090,37245
178,2017-02-01,Turismo no espaço rural e de habitação,2981,58722,32497
179,2017-01-01,Turismo no espaço rural e de habitação,2533,42290,24434

In [65]:
df_passengers_stays= pd.merge(df_final,passengers_landed_PT,how='inner', left_index=True, right_index=True)

In [66]:
df_passengers_stays= df_final.merge(passengers_landed_PT,how='inner', left_index=True, right_index=True)

In [67]:
df_passengers_stays

,Date_x,Type,Earnings,sleeps,Guests,Date_y,Nb_passengers
0,2021-12-01,Hotelaria,132228,2067266,897016,2022-09-01,2916061
1,2021-11-01,Hotelaria,185160,2936910,1179545,2022-08-01,3082908
2,2021-10-01,Hotelaria,295076,4568205,1728722,2022-07-01,3232882
3,2021-09-01,Hotelaria,309314,4592006,1626039,2022-06-01,2878124
4,2021-08-01,Hotelaria,444303,6077677,1957735,2022-05-01,2700017
...,...,...,...,...,...,...,...
64,2021-08-01,Alojamento local,43631,984660,402530,2017-05-01,2427139
65,2021-07-01,Alojamento local,25185,630097,253376,2017-04-01,2319712
66,2021-06-01,Alojamento local,17789,466229,199854,2017-03-01,1794413
67,2021-05-01,Alojamento local,10274,299346,135292,2017-02-01,1473431
68,2021-04-01,Alojamento local,5104,176434,70159,2017-01-01,1396458

In [68]:
df_passengers_stays.corr()

               Earnings    sleeps    Guests  Nb_passengers
Earnings       1.000000  0.992483  0.976147       0.080896
sleeps         0.992483  1.000000  0.989740       0.104637
Guests         0.976147  0.989740  1.000000       0.102946
Nb_passengers  0.080896  0.104637  0.102946       1.000000

In [ ]:
df_final