<a href="https://colab.research.google.com/github/LuisaPolicarpo/Project5/blob/main/Time_series_s_e_g.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [65]:
!pip install googletrans==4.0.0-rc1

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: googletrans==4.0.0-rc1 in /usr/local/lib/python3.8/dist-packages (4.0.0rc1)
Requirement already satisfied: httpx==0.13.3 in /usr/local/lib/python3.8/dist-packages (from googletrans==4.0.0-rc1) (0.13.3)
Requirement already satisfied: certifi in /usr/local/lib/python3.8/dist-packages (from httpx==0.13.3->googletrans==4.0.0-rc1) (2022.12.7)
Requirement already satisfied: rfc3986<2,>=1.3 in /usr/local/lib/python3.8/dist-packages (from httpx==0.13.3->googletrans==4.0.0-rc1) (1.5.0)
Requirement already satisfied: chardet==3.* in /usr/local/lib/python3.8/dist-packages (from httpx==0.13.3->googletrans==4.0.0-rc1) (3.0.4)
Requirement already satisfied: hstspreload in /usr/local/lib/python3.8/dist-packages (from httpx==0.13.3->googletrans==4.0.0-rc1) (2023.1.1)
Requirement already satisfied: sniffio in /usr/local/lib/python3.8/dist-packages (from httpx==0.13.3->googletrans==4.0.0-rc1) (1.3.0)
Requirement already satisfied: httpcore==0.9.* in /usr/local/lib/python3.8/dist-packages (from httpx==0.13.3->googletrans==4.0.0-rc1) (0.9.1)
Requirement already satisfied: idna==2.* in /usr/local/lib/python3.8/dist-packages (from httpx==0.13.3->googletrans==4.0.0-rc1) (2.10)
Requirement already satisfied: h11<0.10,>=0.8 in /usr/local/lib/python3.8/dist-packages (from httpcore==0.9.*->httpx==0.13.3->googletrans==4.0.0-rc1) (0.9.0)
Requirement already satisfied: h2==3.* in /usr/local/lib/python3.8/dist-packages (from httpcore==0.9.*->httpx==0.13.3->googletrans==4.0.0-rc1) (3.2.0)
Requirement already satisfied: hyperframe<6,>=5.2.0 in /usr/local/lib/python3.8/dist-packages (from h2==3.*->httpcore==0.9.*->httpx==0.13.3->googletrans==4.0.0-rc1) (5.2.0)
Requirement already satisfied: hpack<4,>=3.0 in /usr/local/lib/python3.8/dist-packages (from h2==3.*->httpcore==0.9.*->httpx==0.13.3->googletrans==4.0.0-rc1) (3.0.0)

In [66]:
import pandas as pd

df_earnings_final = pd.read_csv("/content/earnings (3).csv")
import googletrans

from googletrans import Translator
translator = Translator()
month = 'Maio'

print(translator.translate(month,src='pt', dest='en').text)

df_earnings_final_months = df_earnings_final['Date'].str.split('de', expand=True)
df_earnings_final_months.rename(columns = ({0: "month", 1: "year"}),inplace=True)
df_earnings_final_months['month'] = df_earnings_final_months['month'].apply(lambda month: translator.translate(month,src='pt', dest='en').text)

May

In [67]:
df_earnings_final

,Unnamed: 0,Type,Date,Value
0,0,Hotelaria,Dezembro de 2021,132228
1,1,Hotelaria,Novembro de 2021,185160
2,2,Hotelaria,Outubro de 2021,295076
3,3,Hotelaria,Setembro de 2021,309314
4,4,Hotelaria,Agosto de 2021,444303
...,...,...,...,...
175,175,Turismo no espaço rural e de habitação,Maio de 2017,7713
176,176,Turismo no espaço rural e de habitação,Abril de 2017,7305
177,177,Turismo no espaço rural e de habitação,Março de 2017,3765
178,178,Turismo no espaço rural e de habitação,Fevereiro de 2017,2981
179,179,Turismo no espaço rural e de habitação,Janeiro de 2017,2533

In [68]:
df_earnings_final_data = df_earnings_final.drop(columns=['Unnamed: 0'])

In [69]:
df_earnings_final_data

                                       Type               Date   Value
0                                 Hotelaria   Dezembro de 2021  132228
1                                 Hotelaria   Novembro de 2021  185160
2                                 Hotelaria    Outubro de 2021  295076
3                                 Hotelaria   Setembro de 2021  309314
4                                 Hotelaria     Agosto de 2021  444303
..                                      ...                ...     ...
175  Turismo no espaço rural e de habitação       Maio de 2017    7713
176  Turismo no espaço rural e de habitação      Abril de 2017    7305
177  Turismo no espaço rural e de habitação      Março de 2017    3765
178  Turismo no espaço rural e de habitação  Fevereiro de 2017    2981
179  Turismo no espaço rural e de habitação    Janeiro de 2017    2533

[180 rows x 3 columns]

In [70]:
df_earnings_final_data

                                       Type               Date   Value
0                                 Hotelaria   Dezembro de 2021  132228
1                                 Hotelaria   Novembro de 2021  185160
2                                 Hotelaria    Outubro de 2021  295076
3                                 Hotelaria   Setembro de 2021  309314
4                                 Hotelaria     Agosto de 2021  444303
..                                      ...                ...     ...
175  Turismo no espaço rural e de habitação       Maio de 2017    7713
176  Turismo no espaço rural e de habitação      Abril de 2017    7305
177  Turismo no espaço rural e de habitação      Março de 2017    3765
178  Turismo no espaço rural e de habitação  Fevereiro de 2017    2981
179  Turismo no espaço rural e de habitação    Janeiro de 2017    2533

[180 rows x 3 columns]

In [71]:
df_earnings_final_months

         month   year
0     December   2021
1     November   2021
2      October   2021
3    September   2021
4       August   2021
..         ...    ...
175        May   2017
176      April   2017
177      March   2017
178   February   2017
179    January   2017

[180 rows x 2 columns]

In [72]:
df_earnings_v1= pd.concat([df_earnings_final_data,df_earnings_final_months], axis=1, join="outer")

In [73]:
df_earnings = df_earnings_v1.drop(columns=['Date'])

In [74]:
df_earnings

                                       Type   Value      month   year
0                                 Hotelaria  132228   December   2021
1                                 Hotelaria  185160   November   2021
2                                 Hotelaria  295076    October   2021
3                                 Hotelaria  309314  September   2021
4                                 Hotelaria  444303     August   2021
..                                      ...     ...        ...    ...
175  Turismo no espaço rural e de habitação    7713        May   2017
176  Turismo no espaço rural e de habitação    7305      April   2017
177  Turismo no espaço rural e de habitação    3765      March   2017
178  Turismo no espaço rural e de habitação    2981   February   2017
179  Turismo no espaço rural e de habitação    2533    January   2017

[180 rows x 4 columns]

In [75]:
df_earnings.rename(columns = {'Value': 'Earnings'}, inplace = True)

In [76]:
df_earnings

                                       Type  Earnings      month   year
0                                 Hotelaria    132228   December   2021
1                                 Hotelaria    185160   November   2021
2                                 Hotelaria    295076    October   2021
3                                 Hotelaria    309314  September   2021
4                                 Hotelaria    444303     August   2021
..                                      ...       ...        ...    ...
175  Turismo no espaço rural e de habitação      7713        May   2017
176  Turismo no espaço rural e de habitação      7305      April   2017
177  Turismo no espaço rural e de habitação      3765      March   2017
178  Turismo no espaço rural e de habitação      2981   February   2017
179  Turismo no espaço rural e de habitação      2533    January   2017

[180 rows x 4 columns]

In [77]:
from google.colab import files
df_earnings.to_csv('earnings_lv.csv') 
files.download('earnings_lv.csv')

In [78]:
df_guest_1 = pd.read_csv("/content/guests (4).csv")

In [79]:
df_guest_1

,Unnamed: 0,Type,Date,Value
0,0,Hotelaria,Dezembro de 2021,897016
1,1,Hotelaria,Novembro de 2021,1179545
2,2,Hotelaria,Outubro de 2021,1728722
3,3,Hotelaria,Setembro de 2021,1626039
4,4,Hotelaria,Agosto de 2021,1957735
...,...,...,...,...
175,175,Turismo no espaço rural e de habitação,Maio de 2017,68093
176,176,Turismo no espaço rural e de habitação,Abril de 2017,75208
177,177,Turismo no espaço rural e de habitação,Março de 2017,37245
178,178,Turismo no espaço rural e de habitação,Fevereiro de 2017,32497
179,179,Turismo no espaço rural e de habitação,Janeiro de 2017,24434

In [80]:
df_guest_final_months = df_guest_1['Date'].str.split('de', expand=True)

In [81]:
df_guest_final_months

              0      1
0     Dezembro    2021
1     Novembro    2021
2      Outubro    2021
3     Setembro    2021
4       Agosto    2021
..          ...    ...
175       Maio    2017
176      Abril    2017
177      Março    2017
178  Fevereiro    2017
179    Janeiro    2017

[180 rows x 2 columns]

In [82]:
df_guest_final_months .rename(columns = ({0: "month", 1: "year"}),inplace=True)

In [102]:

df_guest_final_months['month'] = df_guest_final_months['month'].apply(lambda month: translator.translate(month,src='pt', dest='en').text)

AttributeError: ignored

In [84]:
df_guest_final_months

         month   year
0     December   2021
1     November   2021
2      October   2021
3    September   2021
4       August   2021
..         ...    ...
175        May   2017
176      April   2017
177      March   2017
178   February   2017
179    January   2017

[180 rows x 2 columns]

In [85]:
df_guests_v1= pd.concat([df_guest_1,df_guest_final_months], axis=1, join="outer")

In [86]:
df_guests_v1

,Unnamed: 0,Type,Date,Value,month,year
0,0,Hotelaria,Dezembro de 2021,897016,December,2021
1,1,Hotelaria,Novembro de 2021,1179545,November,2021
2,2,Hotelaria,Outubro de 2021,1728722,October,2021
3,3,Hotelaria,Setembro de 2021,1626039,September,2021
4,4,Hotelaria,Agosto de 2021,1957735,August,2021
...,...,...,...,...,...,...
175,175,Turismo no espaço rural e de habitação,Maio de 2017,68093,May,2017
176,176,Turismo no espaço rural e de habitação,Abril de 2017,75208,April,2017
177,177,Turismo no espaço rural e de habitação,Março de 2017,37245,March,2017
178,178,Turismo no espaço rural e de habitação,Fevereiro de 2017,32497,February,2017
179,179,Turismo no espaço rural e de habitação,Janeiro de 2017,24434,January,2017

In [87]:
df_guests = df_guests_v1.drop(columns=['Unnamed: 0','Date'])

In [90]:
df_guests.rename(columns = {'Value':'Guests'}, inplace=True)

In [91]:
df_guests

                                       Type   Guests      month   year
0                                 Hotelaria   897016   December   2021
1                                 Hotelaria  1179545   November   2021
2                                 Hotelaria  1728722    October   2021
3                                 Hotelaria  1626039  September   2021
4                                 Hotelaria  1957735     August   2021
..                                      ...      ...        ...    ...
175  Turismo no espaço rural e de habitação    68093        May   2017
176  Turismo no espaço rural e de habitação    75208      April   2017
177  Turismo no espaço rural e de habitação    37245      March   2017
178  Turismo no espaço rural e de habitação    32497   February   2017
179  Turismo no espaço rural e de habitação    24434    January   2017

[180 rows x 4 columns]

In [92]:
from google.colab import files
df_guests.to_csv('guests_lv.csv') 
files.download('guests_lv.csv')

In [93]:
df_sleeps_1 = pd.read_csv("/content/sleeps (4).csv")

In [94]:
df_sleeps_1

,Unnamed: 0,Type,Date,Value
0,0,Hotelaria,Dezembro de 2021,2067266
1,1,Hotelaria,Novembro de 2021,2936910
2,2,Hotelaria,Outubro de 2021,4568205
3,3,Hotelaria,Setembro de 2021,4592006
4,4,Hotelaria,Agosto de 2021,6077677
...,...,...,...,...
175,175,Turismo no espaço rural e de habitação,Maio de 2017,133812
176,176,Turismo no espaço rural e de habitação,Abril de 2017,148148
177,177,Turismo no espaço rural e de habitação,Março de 2017,68090
178,178,Turismo no espaço rural e de habitação,Fevereiro de 2017,58722
179,179,Turismo no espaço rural e de habitação,Janeiro de 2017,42290

In [95]:
df_sleeps_final_months = df_sleeps_1['Date'].str.split('de', expand=True)

In [97]:
df_sleeps_final_months.rename(columns = ({0: "month", 1: "year"}),inplace=True)

In [98]:
df_sleeps_final_months

          month   year
0     Dezembro    2021
1     Novembro    2021
2      Outubro    2021
3     Setembro    2021
4       Agosto    2021
..          ...    ...
175       Maio    2017
176      Abril    2017
177      Março    2017
178  Fevereiro    2017
179    Janeiro    2017

[180 rows x 2 columns]

In [101]:
df_sleeps_final_months['month'] = df_sleeps_final_months['month'].apply(lambda month: translator.translate(month,src='pt', dest='en').text)

AttributeError: ignored

In [ ]:
df_sleeps_v1= pd.concat([df_sleeps_1,df_sleeps_final_months], axis=1, join="outer")

In [ ]:
df_sleeps = df_sleeps_v1.drop(columns=['Date','Unnamed: 0'])

In [ ]:
df_sleeps.rename(columns = {'Value': 'sleeps'}, inplace = True)

In [105]:
df_sleeps = pd.read_csv("/content/sleeps_lv (1).csv")

In [106]:
df_sleeps

,Unnamed: 0,Type,sleeps,month,year
0,0,Hotelaria,2067266,December,2021
1,1,Hotelaria,2936910,November,2021
2,2,Hotelaria,4568205,October,2021
3,3,Hotelaria,4592006,September,2021
4,4,Hotelaria,6077677,August,2021
...,...,...,...,...,...
175,175,Turismo no espaço rural e de habitação,133812,May,2017
176,176,Turismo no espaço rural e de habitação,148148,April,2017
177,177,Turismo no espaço rural e de habitação,68090,March,2017
178,178,Turismo no espaço rural e de habitação,58722,February,2017
179,179,Turismo no espaço rural e de habitação,42290,January,2017

In [109]:
df_sleeps_2 = df_sleeps.drop(columns=['Unnamed: 0'])

In [110]:
df_sleeps_2

                                       Type   sleeps      month  year
0                                 Hotelaria  2067266   December  2021
1                                 Hotelaria  2936910   November  2021
2                                 Hotelaria  4568205    October  2021
3                                 Hotelaria  4592006  September  2021
4                                 Hotelaria  6077677     August  2021
..                                      ...      ...        ...   ...
175  Turismo no espaço rural e de habitação   133812        May  2017
176  Turismo no espaço rural e de habitação   148148      April  2017
177  Turismo no espaço rural e de habitação    68090      March  2017
178  Turismo no espaço rural e de habitação    58722   February  2017
179  Turismo no espaço rural e de habitação    42290    January  2017

[180 rows x 4 columns]

In [111]:
df_final_v1= pd.concat([df_sleeps_2,df_earnings], axis=1, join="outer")

In [112]:
df_final_v1

,Type,sleeps,month,year,Type,Earnings,month,year
0,Hotelaria,2067266,December,2021,Hotelaria,132228,December,2021
1,Hotelaria,2936910,November,2021,Hotelaria,185160,November,2021
2,Hotelaria,4568205,October,2021,Hotelaria,295076,October,2021
3,Hotelaria,4592006,September,2021,Hotelaria,309314,September,2021
4,Hotelaria,6077677,August,2021,Hotelaria,444303,August,2021
...,...,...,...,...,...,...,...,...
175,Turismo no espaço rural e de habitação,133812,May,2017,Turismo no espaço rural e de habitação,7713,May,2017
176,Turismo no espaço rural e de habitação,148148,April,2017,Turismo no espaço rural e de habitação,7305,April,2017
177,Turismo no espaço rural e de habitação,68090,March,2017,Turismo no espaço rural e de habitação,3765,March,2017
178,Turismo no espaço rural e de habitação,58722,February,2017,Turismo no espaço rural e de habitação,2981,February,2017
179,Turismo no espaço rural e de habitação,42290,January,2017,Turismo no espaço rural e de habitação,2533,January,2017

In [113]:
df_final_v2= pd.concat([df_final_v1,df_guests], axis=1, join="outer")

In [114]:
df_final_v2

,Type,sleeps,month,year,Type,Earnings,month,year,Type,Guests,month,year
0,Hotelaria,2067266,December,2021,Hotelaria,132228,December,2021,Hotelaria,897016,December,2021
1,Hotelaria,2936910,November,2021,Hotelaria,185160,November,2021,Hotelaria,1179545,November,2021
2,Hotelaria,4568205,October,2021,Hotelaria,295076,October,2021,Hotelaria,1728722,October,2021
3,Hotelaria,4592006,September,2021,Hotelaria,309314,September,2021,Hotelaria,1626039,September,2021
4,Hotelaria,6077677,August,2021,Hotelaria,444303,August,2021,Hotelaria,1957735,August,2021
...,...,...,...,...,...,...,...,...,...,...,...,...
175,Turismo no espaço rural e de habitação,133812,May,2017,Turismo no espaço rural e de habitação,7713,May,2017,Turismo no espaço rural e de habitação,68093,May,2017
176,Turismo no espaço rural e de habitação,148148,April,2017,Turismo no espaço rural e de habitação,7305,April,2017,Turismo no espaço rural e de habitação,75208,April,2017
177,Turismo no espaço rural e de habitação,68090,March,2017,Turismo no espaço rural e de habitação,3765,March,2017,Turismo no espaço rural e de habitação,37245,March,2017
178,Turismo no espaço rural e de habitação,58722,February,2017,Turismo no espaço rural e de habitação,2981,February,2017,Turismo no espaço rural e de habitação,32497,February,2017
179,Turismo no espaço rural e de habitação,42290,January,2017,Turismo no espaço rural e de habitação,2533,January,2017,Turismo no espaço rural e de habitação,24434,January,2017

In [115]:
from google.colab import files
df_final_v2.to_csv('final.csv') 
files.download('final.csv')

In [118]:
df_final_v2.corr()

            sleeps      year  Earnings    Guests
sleeps    1.000000 -0.190464  0.993929  0.994028
year     -0.190464  1.000000 -0.155618 -0.190115
Earnings  0.993929 -0.155618  1.000000  0.981996
Guests    0.994028 -0.190115  0.981996  1.000000

In [116]:
df_final= df_final_v2.drop(columns=['Type','month', 'year'])

In [117]:
df_final

      sleeps  Earnings   Guests
0    2067266    132228   897016
1    2936910    185160  1179545
2    4568205    295076  1728722
3    4592006    309314  1626039
4    6077677    444303  1957735
..       ...       ...      ...
175   133812      7713    68093
176   148148      7305    75208
177    68090      3765    37245
178    58722      2981    32497
179    42290      2533    24434

[180 rows x 3 columns]